@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
    width: 5px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--bgColor);
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bgColor2); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--iconColor); 
  }

:root {
    --iconColor: #14739D; 
    --bgColor:  #15372a; 
    --textColor: white;
    --hoverMenu: #0f4e69; 
    --bgColor2:#0f4e69; 
    --bgColor3: white;

}

body {
    background: url(assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

#container {
    display: flex;
    height: 501vh;
    width: 100%;
    flex-flow: column wrap;
}


.menu {
    display: none;
}

.navbar {
    display: flex;
    position: fixed;
    height: 15vh;
    width: 100%;
    background-color: var(--bgColor);
    justify-content: space-between;
    flex-direction: row;
    opacity: .8;
    box-shadow: 1px 1px 10px 1px;
    z-index: 3;
    transition: opacity .8s;
}

.navbar:hover {
    opacity: 1;
}

#logo {
    padding: 10px 15px;
    width: 120px;
    height: 100%;
}


.navbar li {
    display: flex;
    height: 100%;
    float: left;

}


.navbar li a {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.6em;
    text-decoration: none;
    padding: 0 15px;
    color: var(--textColor);
    transition: background-color 1s;
}

.navbar li:hover a{
    font-size: 1.65em;

    background-color: var(--hoverMenu);
}

.navbar li:hover a {
    color: white;
}

.header {
    display: flex;
    margin-top: 15vh;
    height: 85vh;
    width: 100%;
    box-shadow: 2px 2px 20px 2px inset;
    background: url(./assets/headerBG.jpg) no-repeat;
    background-size: 100% 100%;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.header1 {
    opacity: 0;
    transition: opacity 1s;
}
.header2 {
    transition: opacity 5s;
    opacity:  0;
}

.introduction {
    margin-top: 5vh;
    display: flex;
    height: 70vh;
    width: 100%;
    padding: 20px;

}




.profile {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerprofile {
    display: flex;
    height: 90%;
    width: 70%;
    border-radius: 50%;
    align-items: flex-end;
    background-color: #15372a;
    box-shadow: 2px 2px 10px 2px inset;
    transition: background-color 2s, transform 1s;

}

.outerprofile:hover {
    background-color: var(--bgColor2);
    transform: scale(.9);
}

.innerprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110%;
    width: 100%;
    border-radius: 500px;
    overflow: hidden;
}

.innerprofile img {
height: 180%;
width: 120%;
}

.description {
    height: 90%;
    width: 50%;
    box-shadow: 20px 10px black ;
    padding: 50px 40px;
    background-color: var(--bgColor3);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: background-color .2s, color .5s;
    margin: 25px;
}

.description:hover {
    background-color: #004e76;
    color: white;
}

.description:hover a{
    background-color: var(--bgColor);
    color: white;
}

.description a {

    display: inline; 
    text-decoration: none; 
    color: white;  
    background-color: var(--iconColor); 
    padding: 15px;
    transition: background-color .2s;
    float: right;
    border-radius: 20px;
}

.description a:hover {
    background-color: white;
    color: black;
}


#projects {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    box-shadow: 2px 2px 40px 10px inset;
    opacity: .7;
    transition: opacity 1s;    
    padding: 20px;
  }

.projectheader {
    display: flex;
    color: white;
    font-size: 3em;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    margin-bottom: 2%;
   
}
.projectheader a {
    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: var(--bgColor2);
    border-radius: 30px;
    font-size: .5em;
    transition: background-color .3s, color .3s;
    box-shadow: 1px 1px 1px 1px inset black;
}

.projectheader a:hover {
    background-color: var(--bgColor3);
    color: black;
}

.projectcontainer {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.projectcontainer >div {
    display: flex;
border: solid black 3px;
padding: 20px;
width: 100%;
height: 100%;
background-color: var(--bgColor);
flex-direction: column;
transition: transform .8s;

}

.projectcontainer>div:hover {
    transform: scale(.95);
}

.projectimg {
    width: 100%;
    height: 40%;
    background-color: #14739D;
}

.projectimg img {
    width: 100%;
    height: 100%;
}

#projects:hover {
    opacity: 1;
}

.projectdesc {
    padding: 20px;
    text-align: center;
    color: white;
}

.projectdesc a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: var(--bgColor2);
    border-radius: 30px;
    transition: background-color .3s, color .5s;
    box-shadow: 1px 1px 1px 1px  black;
}

.projectdesc a:hover {
    background-color: var(--bgColor3);
    color: black;
}

  #skills {
    display: grid;
    background-color: var(--bgColor);
    width: 100%;
    height: 65vh;
    padding: 20px;
    grid-template-areas: 'header header header' 'skill1 skill2 skill3' 'skill1 skill2 skill3' ;
    gap: 0 10px;
    opacity: .7;
    transition: opacity .5s;
    color: white;
    box-shadow: 2px 2px 20px 2px black inset;
  }

  #skills:hover {
    opacity: 1;
  }

  #skills div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    height: 45vh;
    width: 100%;
    font-size: 2em; 
    background-color: var(--bgColor2);
    color: white;
    transition: transform 2s;
    box-shadow: 2px 2px black;
    flex-direction: column;
    box-shadow: 2px 2px 2px inset black;
  }

  #skills div img{
    width: 15%;
    height: 20%;
  }


  #skills div:hover {
    transform: rotateY(360deg);
  }

  .skillHeader {
    width: 100%;
    grid-area: header;
    display: flex;
    text-align: center;
    height: 15vh;
    font-size: 4em;
    align-items: center;
    justify-content: center;
  }

  .skill1 {
    grid-area: 'skill1';
  }

  .skill2 {
    grid-area: 'skill2';
  }

  .skill3 {
    grid-area: 'skill3';
  }

.achievement {
    display: flex;
    flex: row wrap;
    width: 100%;
    height: 80vh;

}

.achievement > div {
    width: 50%;
    height: 95%;
    padding: 30px;
    margin: 15px;
    background-color: var(--bgColor2);
    border-radius: 40px;
    box-shadow: 2px 2px 5px 5px inset black;
    color: white;
    justify-content: center;
}

.achievement h1 {
    text-align: center;
}

.achievement .certificate ul {
    margin: 20px;
}

.achievement .certificate ul li {
    list-style-image: url(./assets/list-type.png);
    margin: 4%;
    padding: 0 4%;
    background-color: aliceblue;
    color: black;
    font-size: .8em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px inset black;
    transition: background-color .7s, transform .5s, color .7s;
}

.achievement .certificate ul li:hover {
    transform: scale(1.05);
    background-color: var(--bgColor);
    color: white;
}

.achievement .softskills ul {
    margin: 20px;
}

.achievement .softskills ul li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 3% 3%;
    background: linear-gradient(to right, rgb(3, 3, 82) 50%, white 50%);
    background-position: bottom right;
    background-size: 200% 100%;
    font-size: .8em;

    color: black;
    border-radius: 20px;
    transition: all .7s;
    border: solid 2px black;
}



.achievement .softskills ul li:hover {
    transform: scale(1.05);
    background-position: bottom left;
    color: white;
}

.achievement .softskills ul li:hover:after {
    content: '100%';
}

.programmingLanguages {
    display: block;
    flex: column wrap;
    height: 60vh;
    width: 100%;
    background-color: #15372a;
    color: white;
    justify-content: center;
    opacity: .7;
    transition: opacity .5s;
    box-shadow: 2px 2px 20px 2px black inset;
}

.programmingLanguages h1 {
    text-align: center;
    margin-top: 5vh;
    font-size: 3em;
    height: 15vh;
    width: 100%;
}

.programmingPic {
    display: grid;
    height: 30vh;
    gap: 10px;
    grid-template-columns: repeat(5,19.5%);

}

.programmingLanguages:hover {
    opacity: 1;
}

.programmingPic >div {
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 5px 5px inset black;
    transition: transform .5s;
}

.programmingPic >div:hover {
    transform: scale(1.05);

}

.lang1 {
    background: url(assets/lang1.png) no-repeat;
    background-size: 70% 70%;
    background-position: center;
}

.lang2 {
    background: url(assets/lang2.png) no-repeat;
    background-size: 70% 80%;
    background-position: center;
}

.lang3 {
    background: url(assets/lang3.png) no-repeat;
    background-size: 80% 70%;
    background-position: center;
}


.lang4 {
    background: url(assets/lang4.png) no-repeat;
    background-size: 70% 80%;
    background-position: center;
}

.lang5 {
    background: url(assets/lang5.png) no-repeat;
    background-size: 90% 60%;
    background-position: 70%;
}

.footer {
    display: flex;
    height: 20.5vh;
    width: 100%;
    background-color: transparent;
    padding: 10px 25px;
    color: white;

}

.footer p {
    margin-left: 50px;
}

.footerlogos {
    display: flex;
    justify-content: flex-end;
}

.footer a img{
    height: 75%;
    width: 70%;
}


.footerleft{
    height: 100%;
    width: 35%;
}

.footermid{
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 20px 2px  black;
    background-color: var(--bgColor2);

    
}

.footerright{
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 20px 2px  black;
    background-color: var(--bgColor2);
}




@media screen and (max-width:750px){

    #container {
        height: 900vh;
    }

    .navbar {
        display: flex;
        position: fixed;
        height: 0vh;
        align-items: center;
        opacity: 0;
        transition: .5s;
        overflow: hidden;


    }
    .menu {
        display: block;
        cursor: pointer;
        position: fixed;
        top:5px;
        right: 5px;
        background-color: rgb(242, 242, 242);
        border-radius: 100px;
        padding: 2px;
        z-index: 4;
        transition: background-color .5s;
        width: 60px;
        padding: 10px;
    }

    .menu img {
        width: 100%;
        height: 100%;
    }

    .menu:hover {
        background-color: var(--hoverMenu);
    }
    

    #logo {
        width: 220px;
        height: 25vh;
    }

    .navbar {
        opacity: 1;
    }


    .navbar ul {
        display: block;
        width: 100%;
        height: 80vh;
    }

    .navbar li {
        width: 100%;
        height: 20%;
    }

    .navbar li a {
        border-top: solid rgb(0, 0, 0) 1px;
        display: flex;
        width: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
        margin: 0px;
        font-size: 1.2em;

    }


    .header {
        margin-top: 0;
        height: 100vh;
        font-size: 1.5em;
    }

    .introduction {
        height: 100vh;
        flex-direction: column-reverse;
    }

     .introduction > div{
        height: 50%;
        width: 100%;
    }
    
    .outerprofile {
        display: flex;
        height: 80%;
        width: 70%;
        border-radius: 50%;
        align-items: flex-end;
        background-color: #15372a;
        box-shadow: 2px 2px 10px 2px inset;

    }
    
    .innerprofile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130%;
        width: 100%;
        border-radius: 500px;
        overflow: hidden;
    }
    
    .innerprofile img {
    
    height: 130%;
    width: 120%;
    }
    
    .description {
        font-size: .6em;
        margin: 20px 0px;
        box-shadow: 2px 2px black;
    }

    #projects {
        display: flex;
        height: 300vh;
        width: 100%;
      }

      .projectheader {
        display: flex;
        color: white;
        flex-direction: column;
        font-size: 3em;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        margin-bottom: 5%; }

        .projectheader a{
            text-align: center;}

       

    .projectcontainer {
        display: flex;
        flex-direction: column;

    }
    .projectcontainer > div{
        width: 100%;

    }

    #skills {
        display:flex;
        flex-direction: column;
      }
    
    #skills div {
        flex-direction: row;
        font-size: 2em; 
        background-color: var(--bgColor2);
        color: white;
        margin: 10px 0px;
        transition: transform 2s;
        box-shadow: 2px 2px black;
      }
    
  #skills div img{
    width: 10%;
    height: 30%;
    margin-right: 20px;
  }

  
  .achievement {
    flex-direction: column;
    flex: wrap;
    width: 100%;
    height: 100vh;
    background-color: #0f4e69;
}
.achievement > div {
    width: 90%;
    height: 45%;
    font-size: .7em;
    padding: 20px;
    background-color: var(--bgColor2);
    border-radius: 40px;
    box-shadow: 2px 2px 5px 5px inset black;
    color: white;
    justify-content: center;
}

.achievement .certificate ul li {
    list-style-image: url(./assets/list-type.png);
    margin: 1% 2%;
    padding: 0 8%;
    background-color: aliceblue;
    color: black;
    font-size: .7em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px inset black;
    transition: background-color .7s, transform .5s, color .7s;
}
.achievement .certificate ul {

    margin: 0%;
    padding: 0% 10%;

}

.programmingLanguages {
    font-size: .4em;
    height: 230vh;
    width: 100%;
    flex-direction: column;
}
.programmingPic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
    flex-direction: column;
}

.lang1 {
    width: 70%;
    height: 20%;
}
.lang2 {
    width: 70%;
    height: 20%;
}

.lang3 {
    width: 70%;
    height: 20%;
}

.lang4 {
    width: 70%;
    height: 20%;
}

.lang5 {
    width: 70%;
    height: 20%;
}

.footer {
    display: none;
}

}
