@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    scroll-behavior: smooth;
}

:root {
    --bodybg: #0a2323;      
    --navbgcolor: #19270c;
    --windowcolor: #0a1f3b;
    --color1: #334e6d;
    --color2: #113011;
    --click:red;
    --buttoncont:#0d2836;;
    --hovertext:#b99f9f;
    --hoverbutton: #4d5eb4;

}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #4d5eb4;
}

a:active {
    color: var(--click);
}

/* DOCUMENT */
#container {
    display: flex;
    height: 350vh;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--bodybg);
    
}

.nav {
    display: flex;
    background-color: var(--navbgcolor);
    flex-flow: row;
    width: 100%;
    height: 15vh;
    position: fixed;
    opacity: .4;
    transition: opacity .5s;
    z-index: 5;
    box-shadow: 1px 1px 10px 1px;
    padding: .5% 2%;
    justify-content: space-between;
}

#back {
    position: fixed;
    display: none;
    z-index: 6;
    top: 79vh;
    left: 77vw;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 1px black;
    transition: background-color .8s;
    cursor: pointer;
}

#back img {
    height: 100%;
    width: 100%;
    padding: 15%;
    
}

#back:hover {
    background-color: var(--hoverbutton);
}

#back:active {
    background-color:var(--click);
}

#navmobile {
    position: fixed;
    display: none;
    z-index: 6;
    top: 3vh;
    height: 60px;
    width: 60px;
    left: 5vw;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 1px black;
    cursor: pointer;
    
    
}

#navmobile img {
    height: 100%;
    width: 100%;
    padding: 15%;
}

#navmobile:hover {
    background-color: var(--hoverbutton);
}

#navmobile:active {
    background-color:var(--click);
}

.nav div {
    display: flex;
    height: 100%;
    list-style-type: none;
    width: 40%;
    align-items: center;
}


.nav div a {
    display: inline;

    margin: 0 1%;
    padding: 1% 4%;
    cursor: pointer;
}

.nav img {
    height: 100%;
    width: 100%;
}

.nav:hover {
    opacity: 1;
}



/* MAIN CONTAINER FOR BODY */
#bodycontent {
    margin-top: 18vh;
    display: flex;
    width: 100%;
    height: 228vh;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
}


/* PROFILE SLIDE */
#profile {
    display: flex;
    width: 100%;
    height: 80vh;
    font-size: 1vw;
    
}

#profile > div {
    display: flex;
    width: 50vw;
}

.pleft {
    position: relative;
    background-color: var(--color1);
    margin: 1%;
    border-radius: 100%;
    box-shadow: 10px 10px;
}


.pleft img {
    height: 50%;
    width: 50%;
}

.pright {

    padding: 2%;
    position: relative;
    display: flex;
    flex-flow: column;
    box-shadow: 5px 5px inset;
    background: url(assets/profilebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2%;
    align-items: flex-end;
    
}

.profilepic {
    background-color: var(--hovertext);
    overflow: hidden;
    height: 100vh;
    width: 20vw;
    border: var(--windowcolor) 3px solid;
    position: relative;
    top: 0;
    left: 0vw;
    
}

.profilepic img {
    position: absolute;
    height: 200%;
    width: 150%;
    left: -30%;
    top: -30%;
    
}

.profilenav {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: center;
    color: black;
    justify-content: flex-end;
    margin-top: 3%;
    

}

.profileleftnav {
    position: absolute;
    display: flex;
    height: 50%;
    width: 40%;
    flex-direction: column;
    background-color: var(--hovertext);
    border: var(--windowcolor) solid 3px;
    align-items: center;
    justify-content: center;
    left: 5%;
    top: 10%;
}

.profileleftnav .windowhead {
    position: absolute;
    top: 0;
}

.profileftnavin {
    display: flex;
    background-color: #0d2836;
    width: 100%;
    height: 20%;
    padding: 0 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.profileftnavin img{
    height: 90%;
    width: 100%;
    padding: 20%;
}



.profilenav > a {
    width: 15%;
    height: 100%;
    background-color: white;
    font-size: 1.5vw;
    color: black;
    padding: 4%;
    margin: 5%;
    box-shadow: 1px 1px 1px 1px black;
    transition: transform .8s, background-color .8s;
    border-radius: 50%;
    
    
}

.profilenav > a:hover {
   color: white;
    background-color: var(--color1);
    transform: scale(.99);
   
   
}

.profilenav > a:hover {
    color: white;
     background-color: var(--color1);
    
    
 }

.profilenav  a  img {
    height: 100%;
    width: 100%;
 }
 


.circle1 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 20%;
    height: 25%;
}

.circle2 {
    position: absolute;
    top: 15%;
    left: 65%;
    width: 10%;
    height: 10%;}

.circle3 {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 15%;
    height: 15%;}


.circlecont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(123, 122, 118);
    z-index: 1;
}

.circlecont img {
    z-index: 3;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

#prompt {
    position: absolute;
    top: 40%;
    left: 5%;
    border: 3px solid var(--windowcolor);
    box-shadow: 5px 5px 1px 1px black;
    display: flex;
    height: 20%;
    width: 80%;
    flex-flow: column;
    background-color: black;
    color: white;
    font-size: 1vw;
}

#prompt div h3 {
    width: 5%;
    white-space: nowrap;
    overflow: hidden;
}


.windowhead {
    background-color: var(--windowcolor);
    width: 100%;
    color: white;
}

.promptcontent {
    border-right: 2px white solid;
    transition: opacity .4s;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    animation: .5s infinite typingprompt, 10s typing alternate infinite;
    font-size: 1vw;
}

.notepad {
    position: absolute;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: end;
    height: 150%;
    width: 60%;
    color: black;
    top: 45%;
    left: 50%;
    border: 3px solid var(--windowcolor);
}

.notepad h4 {
    padding: 5%
}


.headerbutton {
    color: rgb(251, 251, 251);
    display: flex;
    height: 20%;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: var(--buttoncont);
    margin-right: 10px;
}

.headerbutton:hover {
    color: var(--hovertext);
    animation: .5s textbounce infinite;

}

.headerbutton:active {
    color: var(--click);
}


#aboutme {
    display: flex;
    padding-top: 2%;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: var(--color2);
    color: white;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px black inset;
    padding: 1% 20%;
}


/* ABOUT ME SLIDE */
#aboutme h1 {
    font-size: 2em;
}

#aboutme h2 {
    color: var(--hovertext);
    font-size: 1.2em;
}

#aboutme h3 {
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    color: rgb(203, 218, 213);
}
/* SPACERS */
#spacer1 {
height: 15vh;
background: url(assets/bg.jpg);
width: 100%;
background-size: cover;
box-shadow: 1px 1px 10px 1px black;
}

#spacer2 {
    height: 15vh;
    background: url(assets/bg.jpg);
    width: 100%;
    background-size: cover;
    box-shadow: 1px 1px 10px 1px black;
    }
    


/* animations for the circle and promot*/
@keyframes textbounce {
    from, to {
        padding-bottom: 0%;
    }
    50% {
        padding-bottom: 1%;
    }
}


@keyframes typingprompt {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

@keyframes typing {
    from { width: 6%; }
    to { width: 90% ;}
  }
  
.roll-out {
    animation: pulse 2s infinite ease-out;
   }
   
   @keyframes pulse {
     from { transform: scale(.8); opacity: 1;}
     to { transform: scale(1.5);  opacity: 0;}
   }

.gelatine {
    animation: gelatine 2s infinite;
  }

  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

  @media screen and (max-width:1000px){

    #container {
        height: 1000vh;
    }

    #bodycontent {
        margin-top: 0;
        height: 1000vh;
    }

    .nav {
        display: flex;
        flex-direction: column;
        opacity: 1;
        align-items: center;
        overflow: hidden;
        width: 100%;
        transition: .4s;
        height: 0vh;
    }

    .nav div {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        font-size: .8em;
    }

    .nav a {
        height: 50%;
        margin-top: 10%;
        width: 50%;
    }
    
    
    .nav div a {
        display: flex;
        align-items: center;
        height: 25%;
        font-size: 1.4em;
        width: 100%;
        margin: 0;

    }
    
    .nav img {
        height: 100%;
        width: 100%;
    }

    #profile {
        height: 200vh;
        padding: 0;
        flex-direction: column-reverse;

    }
    
    #profile > div {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .profilepic {
        background-color: var(--hovertext);
        overflow: hidden;
        height: 320px;
        width: 300px;
        border: var(--windowcolor) 3px solid;
        position: relative;
        margin-right: 2%;
    }
    
    .profilepic img {
        position: absolute;
        top: -20%;
        height: 500px;
        width: 400px;
        left: -25%;
        
    }
    
    .profilenav {
        display: flex;
        flex-direction: row;
        height: 10%;
        width: 100%;
        align-items: flex-end;
        color: black; 
        margin-top: 40%;
        flex-direction: column;
    }
    
    .profileleftnav {
        position: absolute;
        display: flex;
        height: 40%;
        width: 60%;
        flex-direction: column;
        background-color: var(--hovertext);
        border: var(--windowcolor) solid 3px;
        align-items: center;
        justify-content: center;
        left: 10%;
        top: 55vh;
    }
    

    .profileftnavin {
        font-size: 3vw;
    }


    .windowhead {
        height: 10%;
        font-size: 3vw;
    }

    #prompt {

        font-size: 3vw;
    }
    
    .windowhead {
        background-color: var(--windowcolor);
        width: 100%;
        color: white;
    }
    
    .promptcontent {
        font-size: .8em;

    }
    
    .notepad {

        height: 120%;
        width: 70%;
        color: black;
        top: 100%;
        left: 40%;
        border: 3px solid var(--windowcolor);
    }
    
 
    
    .headerbutton {
        width: 70%;
    }

    .pleft {
 
        border-radius: 0%;
        box-shadow: 1px 1px 20px 2px inset;
    }

    .pright {
        box-shadow: none;
    }

    @keyframes typingprompt {
        from { width: 6% }
        to { width: 90% }
      }

      .circle1 {


        top: 5%;
        left: 10%;
        width: 20%;
        height: 10%;
    }
    
    .circle2 {
 
        top: 15%;
        left: 60%;
        width: 30%;
        height: 20%;
    }
    
    .circle3 {
        top: 80%;
        left: 30%;
        width: 10%;
        height: 5%;}


        #back {
            display: block;
        }
        
        #navmobile {
            display: block;
        }

        #aboutme {
      
            height: 110vh;
            padding: 5% 15%;
        }

        #aboutme h1 {
            font-size: 1.2em;
        }
        
        #aboutme h2 {
            color: var(--hovertext);
            font-size: 1em;
        }
        
        #aboutme h3 {
            line-height: 40px;
            text-align: center;
            font-size: .8em;
            color: rgb(203, 218, 213);
        }

      

    
    
    
  }
