<app-topnav class="z-1"> </app-topnav>

    <div class="p-3">
        <div class="relative bg-[#0a1f3c]">
            <h1 class="text-white">Works</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 p-5 bg-[#a5b1a7] gap-4">

                <div class="flex h-[40vh] bg-linear-100 from-[#0a1f3c] p-3 to-[#0a2423] rounded-lg hover:scale-101 transition-all shadow-2xl">
                    <img src="projects/xpress_project.png" class="w-[325px] rounded-xl">
                    <div class="flex flex-col m-2 w-full">
                        <h2 class="text-white text-xs lg:text-2xl">X-press</h2>
                        <h3 class="text-white/60 text-xs">An E-wallet College Project</h3>

                        <br>
                        <small class="text-white">Stack/s used:</small>
                        <br>
                        <div class="flex">
                            <img src="nodejs.png" class="h-[30px] w-[30px] mx-1">
                            <img src="express.png" class="h-[30px] w-[30px] mx-1">
                            <img src="handlebars.png" class="h-[30px] w-[30px] mx-1">
                            <img src="mongodb.png" class="h-[30px] w-[30px] mx-1">
                        </div>
                        <br>
                    </div>
                </div>

                <div class="flex h-[40vh] bg-linear-100 from-[#0a1f3c] p-3 to-[#0a2423] rounded-lg hover:scale-101 transition-all shadow-2xl">
                    <img src="projects/calculator.png" class="w-[325px] rounded-xl">
                    <div class="flex flex-col m-2 w-full">
                        <h2 class="text-white text-xs lg:text-2xl">Web Calculator</h2>
                        <h3 class="text-white/60 text-xs">Fun Interactive Web-Calculator</h3>
                        <br>
                        <small class="text-white">Stack/s used:</small>
                        <br>
                        <div class="flex">
                            <img src="html.png" class="h-[30px] w-[30px] mx-1">
                            <img src="css.png" class="h-[30px] w-[30px] mx-1">
                            <img src="js.png" class="h-[30px] w-[30px] mx-1">
                        </div>
                        <br>
                        <div class="flex w-full flex-row-reverse">
                            <a href="https://berlily29.github.io/calculator/" class="px-5 py-2 bg-sky-900 hover:scale-95 transition-all rounded-full text-white" disabled>Demo</a>
                        </div>
                    </div>
                </div>

                <div class="flex h-[40vh] bg-linear-100 from-[#0a1f3c] p-3 to-[#0a2423] rounded-lg hover:scale-101 transition-all shadow-2xl">
                    <img src="projects/codeeworks.png" class="w-[325px] rounded-xl">
                    <div class="flex flex-col m-2 w-full">
                        <h2 class="text-white text-xs lg:text-2xl">Codee Works</h2>
                        <h3 class="text-white/60 text-xs">Messaging System for Coders</h3>
                        <br>
                        <small class="text-white">Stack/s used:</small>
                        <br>
                        <div class="flex">
                            <img src="html.png" class="h-[30px] w-[30px] mx-1">
                            <img src="css.png" class="h-[30px] w-[30px] mx-1">
                            <img src="appscript.png" class="h-[30px] w-[30px] mx-1">
                        </div>
                        <br>
                        <div class="flex w-full flex-row-reverse">
                            <a href="https://codeeworks.bitbucket.io" class="px-5 py-2 bg-sky-900 hover:scale-95 transition-all rounded-full text-white" disabled>Demo</a>
                        </div>
                    </div>
                </div>

                <div class="flex h-[40vh] bg-linear-100 from-[#0a1f3c] p-3 to-[#0a2423] rounded-lg hover:scale-101 transition-all shadow-2xl">
                    <img src="projects/runningsprite.png" class="w-[325px] rounded-xl">
                    <div class="flex flex-col m-2 w-full">
                        <h2 class="text-white text-xs lg:text-2xl">Running Ninja</h2>
                        <h3 class="text-white/60 text-xs">Practice Project Dino Game</h3>
                        <br>
                        <small class="text-white">Stack/s used:</small>
                        <br>
                        <div class="flex">
                            <img src="html.png" class="h-[30px] w-[30px] mx-1">
                            <img src="js.png" class="h-[30px] w-[30px] mx-1">
                            <img src="css.png" class="h-[30px] w-[30px] mx-1">
                        </div>
                        <br>
                        <div class="flex w-full flex-row-reverse">
                            <a href="https://berlily29.github.io/runningsprite/" class="px-5 py-2 bg-sky-900 hover:scale-95 transition-all rounded-full text-white" disabled>Demo</a>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>